snippet book "Book reference" b
@book{${1:name},
	author={${2:author}},
	title={${3:title}},
	subtitle={${4:subtitle}},
	year={${5:YYYY}},
	location={${6:somewhere}},
	publisher={${7:publisher}},
	pages={${8:NN}--${9:NN}}
}
$0
endsnippet
