snippet clog "Console.log" b
console.log("$1");
endsnippet

snippet vexp "NodeJS express import" b
var express = require('express');
var app = express();
$1
endsnippet

snippet nfun "NodeJS function" b
var $1 = function($2) {
    $3
}
endsnippet
